a { text-decoration: none; }

p { text-align: justify; }

body 
{
	background: #fbfaf8;
	margin: 0;
	margin-left: auto;
	margin-right: auto;
	list-style: none;
}
		
div
{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 12px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}
	
img { border: 0; }

div.date { text-align: right; }

.background
{
	background: url(../jpg/background.jpg) repeat;
	width: 942px;
}

.background2
{
	width: 172px;
	height: auto;
	background-color: #f5f5f5;
}

.content
{
	margin: 6px;
	background: #fff;
	float: right;
	height: auto;
	width: 528px;
	border: solid 2px #eee;
}

.date
{
	margin-left: 20px;
	margin-top: -15px;
	margin-bottom: 14px;
	color: #aaa;
	font-size: 9px;
	width: 500px;
	padding-top: 0;
	padding-bottom: 5px;
	border-bottom: solid 1px #f6f6f6;		
}

.menu
{
	margin: 5px;
	background: #fff;
	float: left;
	height: auto;
	width: 180px;
	border: solid 1px #eee;
}

.menu dd
{
	font-family: "Courier New";
	font-size: 10px;
	margin-bottom: 2px;
	margin-left: 27px;
}

.menu dt
{	
	color: #555;
	font-size: 12px;
	font-weight: bold;
	margin-top: -4px;
	margin-bottom: 6px;
	margin-left: 18px;
	margin-right: 10px;
	padding-left: 46px;
	padding-bottom: 4px;
	border-bottom: solid 1px #f6f6f6;
}
	
.menu dd:before
{
	font-weight: bold;
	color: #cb182c;
	content: "| ";	
}

.menu dd a
{
	font-size: 11px;
	color: #cb182c;
}

.menu dd a:after
{
	font-size: 11px;
	color: #cb182c;
	content:" |";
}
	
.menu dd a:hover
{
	font-size: 11px;
	color: #555;
	font-weight:bold;
}
	
.menu dd a:hover:after
{
	font-size: 11px;
	color: #555;
	font-weight: bold;
	content: " >";
}

.text
{	
	width: 520px;
	margin-bottom: 20px;
	text-indent: 15px;
	font-size: 11px;
	color: #555;
}

.text a { color:#cb182c; }
	
.text a:hover
{
	color: #555;
	font-weight: bold;
}

.text p
{
	padding-left: 12px;
	padding-right: 12px;
}
	
.text span
{
	margin-left: 65px;
	text-align: center;
}

.title
{
	margin-left: 16px;
	margin-top: 8px;
	padding-bottom: 4px;
	color: #555;
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
	border-bottom: solid 1px #f6f6f6;
}

#container 
{
	width: 752px;
	height: auto;
	overflow: hidden;
}

#copyright
{
	float: left;
	margin-left: 300px;
	color: #fff;
	font-size: 9px;
	margin-top: 4px;
}

#footer
{
	background: url(../jpg/footer.jpg);
	width: 752px;
	height: 19px;
}

#logo 
{
	background: url(../jpg/header.jpg);
	width: 752px;
	height: 226px;
}
	
#logo h1 
{
	margin-top: 0;
	padding-top: 130px;
	padding-left: 30px;
	color:#f6f6f6;
}
        
#logo-face 
{
	background: black url('../jpg/header-face.jpg') no-repeat center;
	background-position: 20% 80%;
	height: 226px
}
        
#logo-face h1 
{
	margin-top: 0;
	padding-top: 130px;
	padding-left: 320px;
	color: #f6f6f6;
}
